body {
  background-color: #f2f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.div_main {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 30%;
  height: 5%;
}

.div_search_input {
  display: flex;
  width: 30%;
  height: 5%;
  align-items: center;
  border-radius: 5px;
  flex-direction: row;
  background-color: #c9c8c7;
}

.div_input {
  background-color: #c9c8c7;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.input-text {
  background-color: #c9c8c7;
  border: none;
  width: 100%;
  height: 95%;
  border-radius: 5px;
  padding-left: 20px;
}

.div_tasks {
  background-color: #d3d3d3;
  display: none;
  overflow: auto;
  width: 27.5%;
  margin-left: 2.5%;
}

.lupa {
  width: 36px;
  height: 36px;
}

.div-search {
  display: flex;
  background-color: #949392;
  border-radius: 5px;
  width: 8%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.input-text:focus {
  outline: none;
}

.arrows {
  width: 24px;
  height: 24px;
}

.arrows:hover{
  transition: transform 0.3s ease;
  transform: scale(1.3);
}

.div_task_list {
  justify-content: center;
  align-content: center;
  margin-right: 2%;
}

.div_cards{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.div_checkbox{
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.div_values{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}