body {
  background-color: #f2f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.div_main{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 30%;
  height: 5%;
}

.div_search_input {
  display: flex;
  width: 30%;
  height: 5%;
  align-items: center;
  border-radius: 5px;
  flex-direction: row;
  background-color: #c9c8c7;
}

.div_input {
  display: flex;
  background-color: #c9c8c7;
  max-width: 100%;
  border-radius: 5px;
  flex-direction: column;
}


.input-text {
  background-color: #c9c8c7;
  border: none;
  width: 98%;
  border-radius: 5px;
  margin-left: 10px;
}

.div_tasks{
  background-color: #D3D3D3;
  display: none;
  overflow: auto;
  width: 27.5%;
  margin-left: 2.5%;
}

.lupa {
  width: 36px;
  height: 36px;
}

.div-search {
  display: flex;
  background-color: #949392;
  border-radius: 5px;
  width: 8%;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.input-text:focus{
  outline: none;
}
